/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2015, 10:40:44 AM
    Author     : Chris
*/

@media screen {
  body {
    margin: 2em;
  }    
}

@media print {
    .noprint {
        display: none;
        font-size: 0;
    }
    
    style {
        font-size: 0;
    }
    
    .page {
        page-break-inside: avoid;
        page-break-before: always;
    }
    
    .page:first-of-type {
        page-break-before: avoid;
    }
}

@page {
    size: letter landscape;
    margin: 0.2in;
}

.page {
    width: 10.8in;
    height: 8in;
    background-color: #fff;
    overflow: hidden;
    margin-top: .5in;
}

#site-header, #site-footer {
    text-align: center;
}

#top-menu-panel {
    position: sticky;
    top: 0;
}

#data-input {
    padding: 15px;
    background-color: #ccc;
    border: 0.5px dotted #555;
    border-radius: 5px;
    margin-bottom: 20px;
}

#data-input legend {
    font-size: 200%;
    font-weight: bold;
}

.button-secondary {
    background-color: lightblue;
}

#data-paste {
    font-family: "Consolas","Lucida Console", Monaco, monospace;
    font-size: 90%;
    white-space: pre;
    word-wrap: normal;
    overflow: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pdf-controls {
    margin-bottom: 1em;
}

#pdf-output {
    width: 90%;
    height: 50em;
}

.hidden {
    visibility: hidden;
}

